index.html
<!DOCTYPE html><html><head><title>Animation Example </title><meta charset="UTF-8"><link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400"><link href="http://fonts.googleapis.com/css?family=Noto+Sans:300,400,700"><link href="public/css/project.min.css" type="text/css" rel="stylesheet"><link rel="shortcut icon" type="image/x-icon" href="public/images/favicon.ico"></head><body><h1 id="title" class="title"> <span>s</span><span>i</span><span>l</span><span>v</span><span>e</span><span>r</span><span>o</span><span>r</span><span>a</span><span>n</span><span>g</span><span>e</span></h1><div class="boxes"><div class="box"></div><div class="box"></div><div class="box"></div><div class="box"></div></div><img src="public/images/slice.png" class="logo"><script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script><script src="public/js/project.min.js"></script></body></html>

app/index.jade
doctype html
html
	head
		title Animation Example 

		meta(charset="UTF-8")
		link(href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400")
		link(href="http://fonts.googleapis.com/css?family=Noto+Sans:300,400,700")
		link(href="public/css/project.min.css" type="text/css" rel="stylesheet")
		link(rel="shortcut icon" type="image/x-icon" href="public/images/favicon.ico")

	body
		h1.title#title 
			span s
			span i
			span l
			span v
			span e
			span r
			span o
			span r
			span a
			span n
			span g
			span e


		.boxes
			div.box
			div.box
			div.box
			div.box

		img.logo(src="public/images/slice.png")

		script(type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js")
		script(src="public/js/project.min.js")
